name: Create Release

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get version
        id: get_version
        run: echo "VERSION=v0.0.$(date +'%Y%m%d-%H%M')" >> $GITHUB_ENV

      - name: Create ZIP artifact
        run: |
          mkdir -p artifact
          cd custom_components/walutomat
          zip -r ../../artifact/walutomat.zip .
          cd ../..

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.VERSION }}
          name: "Release ${{ env.VERSION }}"
          files: "artifact/walutomat.zip"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
